menu MENU {
    POPUP "User" {
        MENUITEM "Start Thread", 105
        MENUITEM "Restart as admin", 103
        MENUITEM "About LibreScroll", 102
        MENUITEM "Options", 101
        MENUITEM "Quit", 100
    }
    POPUP "Admin" {
        MENUITEM "Start Thread", 105
        MENUITEM "About LibreScroll", 102
        MENUITEM "Options", 101
        MENUITEM "Quit", 100
    }
    POPUP "User" {
        MENUITEM "Stop Thread", 104
        MENUITEM "Restart as admin", 103
        MENUITEM "About LibreScroll", 102
        MENUITEM "Options", 101
        MENUITEM "Quit", 100
    }
    POPUP "Admin" {
        MENUITEM "Stop Thread", 104
        MENUITEM "About LibreScroll", 102
        MENUITEM "Options", 101
        MENUITEM "Quit", 100
    }
}


CFGDLG DIALOGEX 0x8000, 0x8000, 123, 119
STYLE 0x00C80000
CAPTION "LibreScroll options"
FONT 9, "Segoe UI"
{
    CTEXT           "Friction",         -1,     0,  5 ,     63, 11
    CTEXT           "Y-Sensitivity",    -1,     0,  19,     63, 11
    CTEXT           "X-Sensitivity",    -1,     0,  33,     63, 11
    CTEXT           "Minimum Y Step",   -1,     0,  47,     63, 11
    CTEXT           "Minimum X Step",   -1,     0,  61,     63, 11
    EDITTEXT                            0x4001, 63, 3,      57, 11, 0x2000
    EDITTEXT                            0x4002, 63, 17,     57, 11, 0x2000
    EDITTEXT                            0x4003, 63, 31,     57, 11, 0x2000
    EDITTEXT                            0x4004, 63, 45,     57, 11, 0x2000
    EDITTEXT                            0x4005, 63, 59,     57, 11, 0x2000
    AUTOCHECKBOX    "Flick mode",       0x4006, 63, 75,     57, 7
    AUTOCHECKBOX    "ThinkPad mode",    0x4007, 63, 89,     57, 7
    PUSHBUTTON      "Pause",            104,    2 , 103,    58, 14
    DEFPUSHBUTTON   "Apply",            106,    62, 103,    58, 14
}